
@import "../../styles/variables.scss";
@import "../../styles/globals.scss";

#home-section{
  margin-top: 10rem ;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 7vw;
  line-height: 1;
  color: $accent;
  text-align: center;
  -webkit-text-stroke: 2px $accent;
  -webkit-text-fill-color: transparent;
  color: transparent;
}




@media screen and (max-width: 991px) {


  h1{
    font-size: 9vw;
    -webkit-text-stroke: 2px transparent;

    -webkit-text-fill-color: #ffeba7;

    color: #ffeba7;
  }

}
