.forecast-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  justify-items: center;
  margin-top: 10px;

  .forecast {
    border: 1px solid white;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .forecast-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    overflow: scroll;
  }
}

